.loginpage{
    background-image:linear-gradient(#1b8177, #e1b881);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 20px;
    color:#fff;
    border-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

.logincontent{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 5px;
}

.donthave{
display: flex;
align-items: center;
justify-content: center;
margin: 5px;
}

.loginpopup{
    font-size: small;
}

.passmsglogin{
    width: 45vmin;
}