.cart-item{
    margin: 15px 7.5px auto;
    font-size: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1b881;
    padding: 10px;
    border: #fff solid 5px;
    border-radius: 15px;
}

.data{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
    
}